body {
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.container-fluid {
  padding: 3% 15%;
}

#title {
  background-color: #76ba1b;
  color: #fff;
}

h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  font-weight: bold;

}

/* navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* image */
.title-image {
  width: 60%;
  transform: rotate(20deg);
}

/* features */

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #76ba1b;
  margin-bottom: 10px;
}

.icon:hover {
  color: #578a15;
  cursor: pointer;
}

/* testimonials */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #76ba1b;
  color: #fff;
}

#testimonials-text {
  padding: 7% 15%;
}

.image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press */
#press {
  background-color: #76ba1b;
  text-align: center;
  padding: 3%;
}

.press {
  width: 15%;
  margin: 20px 20px;
}